@font-face {
    font-family: myFirstFont;
    src: url(BearAndBunny-OVwvd.ttf);
}
  
button{
    font-family: myFirstFont !important;
    font-size: larger !important;
    color: aliceblue !important;
    text-shadow: 3px 2px 3px rgb(0, 0, 0);
}
.logo{
    font-family: myFirstFont !important;
    font-size: larger !important;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    color: rgb(255, 253, 253);
}
.panda{
    background-color: rgb(0, 217, 255);
    font-family: myFirstFont !important;
    font-size: x-large !important;
    text-shadow: 3px 2px 5px rgb(0, 0, 0);
    color: rgb(255, 253, 253);
}
